<h1>Welcome to bookmarks</h1>

<form action="/add_bookmark" method="post">

  <label for="new_bookmark">
    Add URL
    <input type="text" id="new_bookmark" name="new_bookmark">
  </label>
  <label for="title">
    Add Title
    <input type="text" id="title" name="title">
  </label>
    <button>Add </button>
</form>

<ul>
  <% @list.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.new_bookmark %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit" />
      </form>
    </li>
  <% end %>
</ul>
